/* src/styles/global.css */
html,body,#root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f7f8fb;
  color: #111;
}

.container {

  margin: -9px auto;
  padding: 12px;
}

.centered {
  display:flex;
  align-items:center;
  justify-content:center;
  min-height: calc(100vh - 80px);
}
